body {
	margin: 0;
	background-color: PaleTurquoise;
	}


#topbar {
	display:block;
	position:relative;	
}
#topbar::after {
	width:100%;
	height:65px;
	content:"";
	background-image: url('../images/flag_banner.png');
	opacity: 0.5;
	 position: absolute;
	 top:0;
	 left:0;
	 z-index: -1;
}
#banner {
	width:100%;
	margin-top: -15px;
}
#main_content {
	padding-top: 40px;
	padding-left: 40px;
	width:90%;
	margin: auto;
}

.accord{
	height: 30px;
	background-color: SteelBlue;
	color:BlanchedAlmond;
	padding-left: 20px;
}
h1{ 
	text-align:center;
	margin:0;
	padding-top: 5px;
}
#site_menu {
		margin-right: auto;
		margin-left: auto;
		width=100%;
		margin:0;
		float:left;
		position:relative;
		top:15px;
}

#site_menu li {
		list-style: none;
		float: left;
}

#federal_id {
	padding-right: 30px;
	padding-left: 30px;
	font-weight: bold;
}

#state_id {
	padding-right: 30px;
	padding-left: 50px;
	font-weight: bold;
}

#about_site {
	padding-top: 30px;
}
#about_site_id{
		list-style: none;
		float: right;
		margin-left: 10px;
		padding: 0px 10px 0px 10px;
		border-left: 1px solid black;
		border-right: 1px solid black;
		border-bottom: 1px solid black;
		background-color: LightGray;
		margin-left: 215px;
}

#history_search_form {
	float:left;
}
#senate_menu_item, #historical_menu_item,
#house_menu_item, #upper_house_menu_item,
#lower_house_menu_item  {
		list-style: none;
		float: left;
		padding: 0px 10px 0px 10px;
		border-left: 1px solid black;
		border-right: 1px solid black;
		border-bottom: 1px solid black;
		background-color: LightGray;
}

#help_id,#about_me_id{
		list-style: none;
		float: left;
		padding: 0px 10px 0px 10px;
		border-left: 1px solid black;
		border-right: 1px solid black;
		border-bottom: 1px solid black;
		background-color: LightGray;
}
#footer {
	width:100%;
	height:90px;
	line-height: 110%;
	position:relative;
	top:300px;
	left:0;
	background:LightGray;
}
.caveat {
	margin-left: 5%;
	font-weight: bold;
	font-size: 0.9em;
	padding: 0;
}
.summary{
	margin:0 0 0 25%;
	padding: 0;
	font-size: 0.8em;
}

#footer img{
	position:relative;
	top: 0px;
	left:15px;
}
#coming_soon {
	padding-top:30px;
	padding-left: 50px;
	padding-bottom: 0px;
	margin:0;
}

.white_background {
	background-color: white;
	border-radius: 10px;
}

.white_background p {
 	margin-left: 20px;
}
#site_menu li:hover{
	text-decoration: underline;
}

.clear {
	clear: both;
}
#find_senator_form, #abe_lincoln_div {
	width:300px;
	float: left;
}

#senator_list {
	float: left;
	display:inline-block;
}

#history_list {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	height: 150px;
	overflow-y:auto;
	position:relative;
	top:70px;
	left:20px;
}

#history_table  {
	border: 2px solid black;
	border-collapse: collapse;
	background-color: LightGray;
	display:block;
}

#senator_table  {
	border: 2px solid black;
	border-collapse: collapse;
	width: 650px;
	margin-top: 50px;
	position: relative;
	top:35px;
	background-color: LightGray;
}


#senator_table, #history_table td{
	padding:5px 5px 5px 5px;
	border: 1px solid white;
}
#senator_table, #history_table th{
	padding:5px 5px 5px 5px;
	border: 1px solid white;
	color:white;
	background-color: DarkGray;

}


.help {
	font-size: 1.2em;
}

#find_house_form {
	width:300px;
	float: left;
}

.accord img{
	position:relative;
	top:5px;
	margin-right:5px;
}